/* ASPECT RATIO UTILITY */
[class*="ratio-"] {
  display: block;
  position: relative;
  border-image-width: 0;
  border-block-end-width: 0;
  outline: none;
  transition: opacity 0.2s ease-in-out;
}

[class*="ratio-"] > * {
  border-block-end-width: 0;
  border-image-width: 0;
  display: block;
  height: 100%;
  left: 0;
  outline: none;
  position: absolute;
  top: 0;
  width: 100%;
}

.aspect-ratio-16-9 {
  background-color: rgb(173, 216, 230);
  padding-top: calc(9 / 16 * 100%);
}
.aspect-ratio-4-3 {
  background-color: rgb(173, 216, 230);
  padding-top: calc(3 / 4 * 100%);
}

.aspect-ratio-alpina {
  background-color: rgb(173, 216, 230);
  padding-top: calc(4 / 7 * 100%);
}

.aspect-ratio-1-1 {
  background-color: rgb(173, 216, 230);
  padding-top: 100%;
}
/* END ASPECT RATIO UTILITY */
